@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #01161e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  z-index: 2;
  display: flex;
  align-items: center;
  color: whitesmoke;
  flex-wrap: wrap;
}

.weather > div {
  margin: 0.625rem;
}

.weather p {
  font-size: 2rem;
}

.weather span {
  margin: 0.3rem;
}

.weather img {
  width: 2rem;
}

nav {
  /* height: 6rem; */
  padding: 1rem 0;
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: rgba(180, 177, 177, 0.202);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchField {
  font-size: 1.1rem;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid white;
  width: 98%;
}

nav form button {
  background-color: #4ecdc4;
  font-size: 1.1rem;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

nav form {
  width: 70%;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
